body {
  background-image: url('nina.jpg');
  background-repeat: repeat, linear-gradient(top, #000000, #123456);
  background-size: 100%;
  list-style: none;
}
.container {  
  width: 1400px;
  margin: auto;
}
ul {
  list-style: none;
}

div.page-header {
  background-image: url('CSS-Background-Image-hd-download.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 40% 20%;
  padding: 10px 80px;
  border-radius: 90px;
  height: 200px;
  width: 800px;
  position: inline;
}

div#page-header-sun {
  text-shadow: 5px 5px 5px #808080;
  font-size: 2em;
  float: right;
}

h1.title {
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-shadow: 1.5px 1px 1px #808080;
}
.site-description {
  font-size: 2.8em;
  color: gray;
  text-shadow: 1px 1px 1px  #827559;
}

button.delete-contact {
  padding:1px 5px;
  border: 1px dashed gray;
  color: gray;
  background-color: white;
}

button.save-contact {
  padding:1px 5px;
  border: 1px dashed gray;
  color: gray;
  background-color: white;
}

button.create-contact {
  padding:1px 5px;
  border: 1px dashed gray;
  color: gray;
  background-color: white;
  float: right;
}


div#create-contact {
  position: relative;
  float: right;
  color: white;
  background-color: #85766b;
  margin-top: 50px;
  padding: 15px 20px 20px 20px;
  border-radius: 63px;
  opacity: 0.5;
  height: 200px;
  width: 280px;
  text-align: center;
  font-weight: bold;
}

/*div#search-contact {
  position: relative;
  margin-top: 30px;
  margin-left: 0px;
  float: right;
  color: white;
  background-color: #85766b;
  padding: 35px 40px;
  border-radius: 60px;
  opacity: 0.6;
  height: 170px;
}*/

div#all-contacts {
  margin-top: 30px;
  margin-bottom: 50px;
  float: left;
  color: white;
  background-color: #85766b;
  padding: 30px 40px;
  border-radius: 80px;
  opacity: 0.6;
  width: 1150px;
}

.input-text {
  color: gray;
  font-weight: bold;
}

.create-input-text {
  color: gray;
  font-weight: bold;
  float:right;
}

form.edit {
  font: georgia;
  font-weight: bold;
  font-size: 1.4em;
}
p.form-head {
  font: georgia;
  font-weight: bold;
  font-size: 1.7em;
  text-shadow: 1px 1px 1px gray;
  text-align: justify;
}

#create-contact p {
  font-weight: bold;
}

br {
  line-height: 5px;
}