<!doctype html>
<html>
<head>
  <title>Your Contacts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
<div class="container">
  <div id="create-contact">
   <p class="form-head" style="text-indent:20px;">Create Contact:</p>
    <p>Name:  <input class="create-input-text" id="new-name" type="text" placeholder="Contact's Name"></p>
    <p>Email:  <input class="create-input-text" id="new-email" type="text" placeholder="Contact's Email"></p>
    <p>Phone:  <input class="create-input-text" id="new-phone" type="tel" maxlength="10" placeholder="Contact's Phone #"></p>
    <button class="create-contact">New Contact</button><br>
  </div>
<div class="page-header">
  <h1 class="title">Your Contacts<div id="page-header-sun">☀</div></h1>
  <h4 class="site-description">Browse, Update or Delete!</h4>
</div>
<div id="all-contacts">
<p class="form-head" style="text-indent:40px; font-size:2.5em;">All your contacts: </p>
<ul id="contacts">
<br>
</ul>
</div>

  </div>
 </body>
</html>
