<!doctype html>
<html>
<head>
  <title>Your Contacts</title>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
<div id="jumbotron">
<h1>Contacts</h1>
<p>Find, create, delete and update your contacts!</p>
<p>All your contacts: </p>
<ul id="contacts">
</ul>

 <h4>Create a New Contact</h4>
  <p>Name: <input id="new-name" type="text"></p>
  <p>Email: <input id="new-email" type="text"></p>
  <p>Phone Numer: <input id="new-phone" type="text"></p>
  <button id="create-contact">Create Contact</button>

   <h4>Edit Contact</h4>
  <p>Name: <input id="edit-name" type="text"></p>
  <p>Email: <input id="edit-email" type="text"></p>
  <p>Phone Numer: <input id="edit-phone" type="text"></p>
  <button class="edit-contact">Create Contact</button>

<!--   <div class="contact">
    <h2>Name: {{name}}</h2>
      <p>Email: <a href="mailto:{{email}}">{{email}}</a></p>
  </div> -->
<!-- <script type="text/handlebars-template" id="contact-template"></script>
 -->
  </div>
 </body>
</html>
